<footer>
  <div id="footer-container">
    <div class="footer-left">
      <img src="/frontend/assets/img/cnu_logo.svg" alt="충남대학교 로고" class="footer-logo">
      <div class="footer-title">
        <h1>충남대학교</h1>
        <p>Chungnam National University</p>
      </div>
    </div>



    <div id="footer-right">
      <div class="informaiton">
        <p>34134 대전광역시 유성구 대학로 99 충남대학교</p>
        <p>T. 042-821-5114, 입학문의: 1644-8433</p>
        <p>© 2025 Chungnam National University. All rights reserved.</p>
      </div>

      <div class="icons">

      </div>
    </div>
  </div>
</footer>
